.plusIcon{
    font-size: 24px;
    color: var(--main-background-color);
}
.label{
    font-size: 14px;
    font-weight: 500;
}
.labelWrapper{
    padding: 4px;
}
.button{
    display: flex;
}
.downIcon{
    font-size: 12px;
    color: var(--primary-black);
    margin-left: 4px;
}
.upIcon{
    font-size: 12px;
    color: var(--black-300);
    margin-left: 4px;
}