.wrapper{
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.valueInfoWrapper{
    max-width: 50%;
}
.keyInfoWrapper{
   max-width: 50%;
}
.blockTitle{
    font-size: 18px;
    color: var(--main-background-color);
    margin-bottom: 10px;
}
.labelTitle{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 7px;
}
.accentValue{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}
.spin{
    margin-left: 15px;
}