.blockWrapper{
    padding: 16px 0;
    margin: 20px auto;
    border-top: 1px solid rgba(17, 17, 17, .11);
}
.inputsWrapper > div {
    margin: 15px 0;
}

.deleteBtn:hover{
    border-color: var(--main-background-color) !important;
    color:var(--main-background-color) !important;
}
.deleteBtn:focus{
    border-color: var(--main-background-color) !important;
    color:var(--main-background-color) !important;
}

.dragger > div:hover{
    border-color: var(--main-background-color) !important;
}
.dragger > div:focus{
    border-color: var(--main-background-color) !important;
}

.categorySelect > div:hover{
    border-color: var(--main-background-color) !important;
}
.categorySelect > div:focus{
    border-color: var(--main-background-color) !important;
}
.labelSubBlock{

}
.comingSoon{
    margin-left: 5px;
    color: var(--black-300);
}
.saveBtn{
    background-color: var(--main-background-color);
    border-color: transparent;
}

.saveBtn:hover{
    border-color: transparent !important;
    background-color: var(--main-background-color) !important;
    opacity: 0.8;
}

.appIconWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.copyIcon{
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px  5px 5px;
    position: absolute;
    right: 0;
    bottom: 6px;
    color: var(--black-300);
}

.membersHeaders{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .blockWrapper{
        display: flex;
        justify-content: center;
        width: 800px;
    }
    .inputsWrapper{
        width: 600px;
        margin-left: 50px;
    }
    .deleteBtn{
        width: 500px
    }
}