.blockWrapper{
    padding: 16px 0;
    margin: 20px auto;
    border-top: 1px solid rgba(17, 17, 17, .11);
}
.inputsWrapper > div {
    margin: 15px 0;
}

.deleteBtn:hover{
    border-color: var(--main-background-color) !important;
    color:var(--main-background-color) !important;
}
.deleteBtn:focus{
    border-color: var(--main-background-color) !important;
    color:var(--main-background-color) !important;
}

.dragger > div:hover{
    border-color: var(--main-background-color) !important;
}
.dragger > div:focus{
    border-color: var(--main-background-color) !important;
}

.categorySelect > div:hover{
    border-color: var(--main-background-color) !important;
}
.categorySelect > div:focus{
    border-color: var(--main-background-color) !important;
}
.labelSubBlock{

}
.comingSoon{
    margin-left: 5px;
    color: var(--black-300);
}
.saveBtn{
    background-color: var(--main-background-color);
    border-color: transparent;
}

.saveBtn:hover{
    border-color: transparent !important;
    background-color: var(--main-background-color) !important;
    opacity: 0.8;
}

.appIconWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.copyIcon{
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px  5px 5px;
    position: absolute;
    right: 0;
    bottom: 6px;
    color: var(--black-300);
}

.membersHeaders{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableMobileWrapper{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 4px 13px #00000014, 0 3px 20px 4px #0000000d;
    margin-bottom: 15px;
}
.tableMobileTitle{
    margin: 10px 0;
}
.tableValueAccent{
    font-weight: bold;
    margin-left: 4px;
}
.plusIcon{
    font-size: 24px;
    color: var(--main-background-color);
}
.addMemberButton{
    display: flex;
    font-weight: bold;
}
.addMemberButton:hover{
    background-color: transparent!important;
}
.btnUserDelete{
    background-color: var(--main-background-color)!important;
}
.btnUserDelete:hover{
    border-color: var(--main-background-color)!important;
    background-color: var(--main-background-color)!important;
    opacity: 0.8;
}
@media screen and (min-width: 768px) {
    .blockWrapper{
        display: flex;
        justify-content: center;
        width: 800px;
    }
    .inputsWrapper{
        width: 600px;
        margin-left: 50px;
    }
    .deleteBtn{
        width: 500px
    }
}