.root > div > div {
    padding: 0!important;
}
.footerWrapper {
    background-color: white;
    padding: 16px 24px !important;
    box-shadow: 0 0 18px #01003026;
    transition: opacity .3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerBtn{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    height: 40px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    transition: all .3s ease;
    background-color: var(--main-background-color);
}
.footerBtn:hover{
    background-color: var(--main-background-color) !important;
    border-color: var(--main-background-color) !important;
    opacity: 0.8;
}
.wrapper{
    padding: 45px 24px 24px  24px !important;
}
.wrapper > div {
    margin-bottom: 15px;
}
.infoWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e70000;
    color: var(--white-color);
    opacity: 0.8;
    padding:10px;
    border-radius: 8px;
}
.langWrap{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;

    margin-left: 10px;
    margin-right: 10px;
}
.accentColor{
    font-weight: bold;
    margin-left: 8px;
}
.titleWrapper{
    display: flex;
    justify-content: center;
}
.title{
    font-weight: bold;
    margin-left: 8px;
    font-size: 18px;
}
.warnText{
    font-size: 16px;
    margin-left: 10px;
    font-style: italic;
}
.uploadedInputs{
    max-height: 250px;
    overflow: scroll;
    margin-top: 20px;
}
.checkBox{
    width: 50%;
}