.langWrap{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;

    margin-left: 10px;
    margin-right: 10px;
}
.labelWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}
.label{
    line-height: 24px;
    font-size: 14px;
    color: var(--primary-black);
}
.additionalText{
    line-height: 24px;
    font-size: 14px;
    color: var(--black-300);
}
.antdInput:hover{
    border-color: var(--main-background-color);
}
.antdInput:focus{
    border-color: var(--main-background-color);
}